.slider-container{
  margin-bottom: 0px;
}
.slide1 {
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  .text-overlay {
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
  }
}

.space{
  height: auto;
}

.custom-prev,
.custom-next {
  background-color: #ccc;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: transparent;
}

.custom-prev {
  left: 10px;
}

.custom-next {
  right: 10px;
}

.slick-dots {
  bottom: 10px;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 5px;
  }

  button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    outline: none;
    opacity: 0.7;
    transition: background-color 0.3s ease, opacity 0.3s ease;

    &.slick-active {
      background-color: #fff;
      opacity: 1;
    }
  }
}

.search-bar {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: space-around;

  input {
    padding-left: 30px;
    width: 95%;
  }

  .icons {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust the right position */
    transform: translateY(-50%);

    svg {
      cursor: pointer;
      margin-left: 5px;
    }
  }
}
.categories-dropdown>ul>li{
    text-decoration: none;
    color: grey;
    transition: background-color 1.0s;
    list-style-type:none;

  
    &:hover {
      text-decoration: underline;
      transition: 1.0s;
      border-radius: 15px;
    }
  }

  .shop-icon {
    color: grey;
  }
  
  .added-to-cart {
    color: green;
  }
@media (max-width: 767px) {
  .slick-dots {
    bottom: 10px;
  }

  .search-bar {
    flex-direction: column;
    align-items: center;

    input {
      margin-top: 10px;
      width: 90%;
    }

    .icons {
      position: relative;
      top: 0;
      right: 0;
      margin-top: 10px;
      transform: translateY(0%);

      svg {
        margin-left: 0;
      }
    }
  }

  .slide1 {
    h1 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }

    img {
      max-height: 200px;
    }
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .slick-dots {
    bottom: 20px;
  }
  .search-bar {
    flex-direction: row;

    input {
      margin-top: 0;
      width: 70%;
    }

    .icons {
      position: absolute;
      top: 50%;
      right: 60px;
      margin-top: 0;
      transform: translateY(-50%);

      svg {
        margin-left: 5px;
      }
    }
  }

  .slide1 {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1.25rem;
    }

    img {
      max-height: 300px;
    }
  }
}


@media (min-width: 500px) {
  .search-bar {
    height: 100px;
  }

  .slide1 {
    height: 400px;
  }

  .slide1 img {
    max-height: 500px;
  }
}
.mcard-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  place-items: center;
  padding: 20px;
  margin-top: 50px;
}

.mcards {
  border: 2px solid gray;
  width: 400px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 8px;
}
.mcards:hover {
  transform: scale(1.05);
}
.edit-icon,.trash-icon,.shop-icon{
  margin: 10px;
  cursor: pointer;
}
.card-image{
  width:400px;
  height: 300px;
}
.mcards-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.mcards-description {
  color: #555;
  margin-bottom: 15px;
}

.mcards-price {
  color: #e44d26;
  font-size: 1.25rem;
  font-weight: bold;
}


@media (max-width:1700px){
  .mcard-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
}
@media (max-width:1300px){
  .mcard-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width:890px){
  .mcard-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width:830px){
  .mcard-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}
@media (max-width:450px){
  .mcards{
    border: 1px solid #000;
    width: 300px;
    margin: 10px;
    text-align: center;
  }
  .card-image{
    width:300px;
    height: 300px;
  }
}
@media (max-width:350px){
  .mcards{
    width: 250px;
    margin-left: -5px;
  }
}
