.Scontainer {
  text-align: center;
  margin-top: 39vh;
  margin-bottom: 39vh;
}

.Ssame {
  background: transparent;
  border: 1px solid #dddfe2;
  color: #ccc;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 22px;
  line-height: 16px;
  vertical-align: middle;
  font-size: 17px;
  padding: 14px 16px;
  width: 200px;
  border-radius: 6px;
  margin: 5px;
}

.Esame,
.Spassword {
  background: transparent;
  border: 1px solid #dddfe2;
  color: #ccc;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 22px;
  line-height: 16px;
  vertical-align: middle;
  font-size: 17px;
  padding: 14px 16px;
  width: 410px;
  border-radius: 6px;
  margin: 5px 15px;
}

.Sbutton {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 410px;
  color: #fff;
  margin: 5px 15px;
  cursor: pointer;
}

.Sred {
  color: red;
}

@media (max-width: 500px) {
  .Ssame {
    width: 150px;
  }
  .Esame,
  .Spassword {
    width: 310px;
  }
  .Spassword {
    margin-left: -0px;
  }
  .Sbutton {
    width: 310px;
  }
  .password-toggle-icon {
    margin-left: -10px;
  }
}

@media (max-width:350px){
  .Esame,.Sbutton,.Spassword {
      width: 240px;
  }
}