.ProfileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 50px;
    margin-bottom: 130px;
  }
  .ProfileContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .profile-image{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ddd;
  }