.About{
    text-align: center;
}
.Alogo {
    background-image: url(../../image/logo.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
.Dark{
    background-image: url(../../image/dark.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px;
}
.Add{
    background-image: url(../../image/add.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px;
}
.log{
    background-image: url(../../image/log.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px;
}
.Market{
    background-image: url(../../image/Market.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px;
}
.Apply{
    background-image: url(../../image/Apply.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px;
}
.Scroll{
    background-image: url(../../image/Scroll.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px;
}
.Message{
    background-image: url(../../image/Message.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px;
}
.Algoicon{
    background-image: url(../../image/account.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px;
}
.Algoicon{
    background-image: url(../../image/account.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
}
.arrow{
    background-image: url(../../image/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px; 
}
.busket{
    background-image: url(../../image/busket.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px; 
}
.chooseitem{
    background-image: url(../../image/choose.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px; 
}
.Aseller{
    background-image: url(../../image/seller.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px; 
}
.sellericons{
    background-image: url(../../image/edit.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px; 
}
.AmyCard{
    background-image: url(../../image/myCards.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px; 
}
.accepted{
    background-image: url(../../image/accepted.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px; 
}