.About{
    text-align: center;
}
.Alogo {
    background-image: url(../../image/logo.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
.Dark{
    background-image: url(../../image/dark.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px;
}
.Add{
    background-image: url(../../image/add.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px;
}
.log{
    background-image: url(../../image/log.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px;
}
.Market{
    background-image: url(../../image/Market.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px;
}


.Algoicon{
    background-image: url(../../image/account.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
}
.deleteacc{
    background-image: url(../../image/deleteacc.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1000px;
}
.edituser{
    background-image: url(../../image/edituser.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1000px;
}
.arrow{
    background-image: url(../../image/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px; 
}
.busket{
    background-image: url(../../image/busket.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px; 
}
.chooseitem{
    background-image: url(../../image/choose.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px; 
}
.Aseller{
    background-image: url(../../image/seller.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px; 
}
.sellericons{
    background-image: url(../../image/edit.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px; 
}
.AmyCard{
    background-image: url(../../image/myCards.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px; 
}
.shopitem{
    background-image: url(../../image/shopitem.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px; 
}
.count{
    background-image: url(../../image/count.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px; 
}
.lowerthen1{
    background-image: url(../../image/lowerthen1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px; 
}
.accepted{
    background-image: url(../../image/accepted.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80px; 
}